<h1><%= @inventory.item_name %> </h1>
<p>The Supplier of this item is: </p> <b>
 <%= @supplier.supplier_name %> 


<%= link_to "Edit Inventory", edit_inventory_path(@inventory) %> <br>
<%= link_to "Home", root_path %>
<%= button_to "Delete", inventory_path(@inventory),  method: :delete%>
